# Python Variable
   - Variable Like a Container
   - Variable ko hum value assign kartein hein , jo phir kese operator mein use hotein hein.

# 1. Simpe Variable Assignment

In [7]:
name = 'Sher Khan'
age = '25'
print("Name😎", name)
print("Age 💀", age)

Name😎 Sher Khan
Age 💀 25

In [8]:
# 1. Morning Routine ☀️
wake_up_time = "12:30 AM"
breakfast = "Nothing💀"
print("Good Morning! Woke up at:", wake_up_time,"⏲")
print("Today Break Fast!", breakfast, "🍴")

Good Morning! Woke up at: 12:30 AM ⏲
Today Break Fast! Nothing💀 🍴

In [9]:
# 2. Favorite Book Info 📚
book_name = "Atomic Habits"
author = "James clear"
print("Current Reading:", book_name , "📚📚")
print("Author:", author, "✍")

Current Reading: Atomic Habits 📚📚
Author: James clear ✍

In [10]:
# 3. Daily Water Intake Tracker 💧
water_glasses = 8
water_goal = "Stay Hydrated!💦"
print("Today Water glasses:", water_glasses , "🥛")
print("Tips:", water_goal)

Today Water glasses: 8 🥛
Tips: Stay Hydrated!💦

In [11]:

# 4. Study Session Details 📓
subject = "Mathematics ➕"
study_hours = 3
print("Study Subject Today:", subject)
print("Total Hour Studied:", study_hours, "⏳")

Study Subject Today: Mathematics ➕
Total Hour Studied: 3 ⏳

In [12]:
# 5. Weekend Plans 🌄
plan = "Go hiking🚶‍♂️"
weather = "sunny 🌞"
print("Weather Plan:", plan)
print("Weather Forecast:", weather)

Weather Plan: Go hiking🚶‍♂️
Weather Forecast: sunny 🌞

In [13]:
# 7. Sleep Schedule 🛌
bed_time = "5:00 AM 🤪"
wake_up_time = "12:00 AM 😫"
print("Sleep From ", bed_time, "🌛 to ", wake_up_time , "☀️")

Sleep From  5:00 AM 🤪 🌛 to  12:00 AM 😫 ☀️

In [14]:
# 8. Exercise Routine 🧘‍♀️
exercise_type = "Yoga"
duration_mins = 45
print("Today Exercise:", exercise_type)
print("Duration in Time:", duration_mins)

Today Exercise: Yoga
Duration in Time: 45

In [15]:
# 9. Favorite Snake 🍪
snake_name = "Chips"
calories = 150
print("Snake:", snake_name,"🍟")
print("Calories:", calories, "🔥")

Snake: Chips 🍟
Calories: 150 🔥

In [16]:
# 10. Working Info 💼
meeting_topic = "Project Planning"
meeting_time = "3:00 PM"
print("Meeting Topic:", meeting_topic)
print("Meeting Time:", meeting_time, "⏲")

Meeting Topic: Project Planning
Meeting Time: 3:00 PM ⏲

In [17]:
# 11. Shopping List Items 🛒
items_name = "Milk 🥛🥛"
quantity = 3
print("Buy", quantity, "Liters of:", items_name)

Buy 3 Liters of: Milk 🥛🥛

In [19]:
#12. Daily Affirmation 💡
affirmation = "I am capable and Strong"
print("Today Affirmation is:", affirmation)

Today Affirmation is: I am capable and Strong

In [20]:
# 12. Music Track Plaing 🎵
song_name = "Shape of you"
artist = "ED Sheeran 🎙 "
print("Playing Song:", song_name)
print("Artist:", artist)

Playing Song: Shape of you
Artist: ED Sheeran 🎙

In [21]:
# 14. Traval Destination ✈
city = "Paris 🏙"
country = "Farance"
print("Traval Destination:", city)
print("Country:", country)

Traval Destination: Paris 🏙
Country: Farance

In [23]:
# 15. Birthday Remainder
friend_name = "Ali"
birth_day = "15 Aguest"
print(friend_name + "'s Birth Day is on:", birth_day)

Ali's Birth Day is on: 15 Aguest

In [25]:
# 16. Coffee Order 🍵
coffee_type = "Khawa chai🍵"
size = "Full tana tan"
print("Order:", size, coffee_type, "Rawra Mara")

Order: Full tana tan Khawa chai🍵 Rawra Mara

In [26]:
# 17. Movie Watch Time 🎬🍿
movie_lenght_hrs = 2.5
print(" Movie Duration:", movie_lenght_hrs, "hours 🎥")

 Movie Duration: 2.5 hours 🎥

In [27]:
steps_walked = 5000
steps_goal = 1000
print("Today Steps walked:", steps_walked, "👟")
print("Steps Walked Daily Goals:", steps_goal, "⛳")

Today Steps walked: 5000 👟
Steps Walked Daily Goals: 1000 ⛳

In [28]:
# 19. Leanguage Learning 🌍
language = "Spanish"
current_level = "beginner"
print("Learning Language:", language)
print("Current Level:", current_level, "📖")

Learning Language: Spanish
Current Level: beginner 📖

In [29]:
# 20. Birthday Cake Order 🎂
cake_flavor = "Chocolate"
cake_size = "Large"
print("Ordered a", cake_size, cake_flavor, "cake for birthday!🎂" )

Ordered a Large Chocolate cake for birthday!🎂

# 2. Re-assigning values to variable
  - Hum ek he variable ko multiple bar re-assing kar sakhte hein.

In [32]:
# 1. Birthday Update 🎂
age = 29
print("old age:", age)
age = 30
print("Happy Birthday! New Age:", new_age)

old age: 29
Happy Birthday! New Age: 30

In [33]:
# 2. Name Change Anouncement 📝
name = "Sara"
print("old name:", name)
name = "Sara Khan"
print("new age:", name)

old name: Sara
new age: Sara Khan

In [34]:
# 3. Bussiness Update 🏢
owner_name = "Ali"
print("old owner:", owner_name)
owner_name = "Sher Khan" # bussiness bach diya , new owner aagaya
print("New Owner:", owner_name)

old owner: Ali
New Owner: Sher Khan

In [35]:
# 4. Product Price Change 💰
product_name = "Mera Land Tumhare Liye"
price = "15000"
print(f"The Product: {product_name}: and Rs{price}")
price = "Tuhare Liye Free Free Free hai😂" # discount lagaya hai , mein ne apne haters kalie
print(f"New Price: {product_name}, and Price For You My Haters: {price}")

The Product: Mera Land Tumhare Liye: and Rs15000
New Price: Mera Land Tumhare Liye, and Price For You My Haters: Tuhare Liye Free Free Free hai😂

In [36]:
# 5. Daily Mode Tracker 😂
mood = "Fucking tired"
print("Morning Mode:", mood)
mood = "Energetic"
print("Naswar ke baad 💀:", mood)

Morning Mode: Fucking tired
Naswar ke baad 💀: Energetic

In [37]:
# 7.Salary Raised Anouncement  💼
salary = 50000
print("Current Salary: Rs 💵", salary)
salary = 60000 # promotion ke baad ke salary
print("New Salary:", salary)

Current Salary: Rs 💵 50000
New Salary: 60000

In [40]:
# 8. Fitness Goals Update 🏋️‍♂️
daily_steps = 5000
print("Old Steps fitness:", daily_steps)
daily_steps = 8000  # step update karna , hard fitness kalie
print("New Daily Steps Goals:", daily_steps)

Old Steps fitness: 5000
New Daily Steps Goals: 8000

In [41]:
# Meeting time Change ⏰
meeting_time = "3:00PM"
print("Original Meeting Time:", meeting_time)
meeting_time = "8:00PM" # postpone ho gai meeting
print("Update Meeting Time:", meeting_time)

Original Meeting Time: 3:00PM
Update Meeting Time: 8:00PM

In [42]:
# Project Deadline Extension 📅
dead_line = "10th July"
print("Project Dead Lion:", dead_line)
dead_line = "20th July" # Extension mil gaye deadline ki
print("Update Dead Line:", dead_line)

Project Dead Lion: 10th July
Update Dead Line: 20th July

In [43]:
# Favorite Food Change 🍽️
favorite_food = "Pizza"
print("Old favorite food:", favorite_food)
favorite_food = "Chikan biryani with chanti and salad 😋"
print("New favorite food:", favorite_food)

Old favorite food: Pizza
New favorite food: Chikan biryani with chanti and salad 😋

In [44]:
# Stock Quantity Update 📦
stock = 100
print("Old Stock Quantity:", stock)
stock = 160  # new stock aagaya 
print("New Stock Quantity:", stock)

Old Stock Quantity: 100
New Stock Quantity: 160

In [45]:
# Website Visitor Count Update 🌐
visitors = 1500
print("Visitor Til Now:", visitors )
visitors = 2540 # new visitors aagaye
print("Update Visitors:", visitors)

Visitor Til Now: 1500
Update Visitors: 2540

In [46]:
# Daily Water Intake 💧
water_intake_liters = 1.5
print("Morning Water Intake:", water_intake_liters, "Liters")
water_intake_liters = 2.5
print("Afternoon Water Intake:", water_intake_liters, "Liters")

Morning Water Intake: 1.5 Liters
Afternoon Water Intake: 2.5 Liters

In [47]:
# Task Completion Status ✅
task_status = "pending"
print("Task Status:", task_status)
task_status = "completed"
print("Update Task Status:", task_status)

Task Status: pending
Update Task Status: completed

In [48]:
# Customer Feedback Update
feedback = "Average"
print("Initial Feedback:", feedback)
feedback = "Yeh kon ha , items diya hai, boosry wale" # new feed back
print("Update Feedback:", feedback)
feedback = "Excellent"
print("Update Feedback:", feedback)

Initial Feedback: Average
Update Feedback: Yeh kon ha , items diya hai, boosry wale
Update Feedback: Excellent

In [50]:
# Social media flowers growth 📱
flowers = 260
print("Old Tik Tok Flowers", flowers)
flowers = 1030 # flowers badh gaye
print("New Flowers :", flowers)

Old Tik Tok Flowers 260
New Flowers : 1030

In [53]:
# Temperature Change 🌡️
temperature_c = 25
print("Morning Temperature:", temperature_c ,  "°C")
temperature_c = 36
print("Afternoon Temperature:", temperature_c  ,"°C")

Morning Temperature: 25 °C
Afternoon Temperature: 36 °C

In [54]:
# Book Reading Prograss  📖
pages_read = 50
print("Pages Reads:", pages_read)
pages_read = 165 # reading continue ki
print("Update Pages Reads:", pages_read)

Pages Reads: 50
Update Pages Reads: 165

In [55]:
# Budget Allocation Update 💸
budget = 10000
print("Initial Budget: Rs.", budget)
budget = 80000 # budget thora kaam hogaya
print("Update Budget: Rs.", budget)

Initial Budget: Rs. 10000
Update Budget: Rs. 80000

In [57]:
# Email Status Change 📧
email_status = "unread"
print("Email Status:", email_status)
email_status = "Read" # email read kar li
print("Update Email Status:", email_status)

Email Status: unread
Update Email Status: Read

# 3. Multiple Assignment in One Line 
   - Hum multiple variable ko ek he line mein assign kar sakhtein hein.

In [61]:
# Cordinates of a place 📍 
latitude, logitude, altitude = 24.8507, 67.0011 , 15
print("Latitude:", latitude , "°")
print("Logitude:", logitude, "°")
print("Altitude:", altitude, "meters")

Latitude: 24.8507 °
Logitude: 67.0011 °
Altitude: 15 meters

In [62]:
# RGB Colors Values 🎨
red, green , blue = 255, 100, 50
print("RED:", red, "🔴")
print("GREEN:", green, "🟢")
print("BLUE:", blue, "🔵")

RED: 255 🔴
GREEN: 100 🟢
BLUE: 50 🔵

In [64]:
# Daily Word Hours ⌚
work_hours, break_hours , meeting_hours = 6, 1, 2
print("Work:", work_hours, "👨‍💻")
print("Break:", break_hours, "🍵")
print("Meeting:", meeting_hours, "hr 🗣 ")

Work: 6 👨‍💻
Break: 1 🍵
Meeting: 2 hr 🗣

In [66]:
size, type_coffee , suger = "Large", "Khawa Chai", 2
print("Size:", size, "🤪")
print("Type Coffee:", type_coffee, "🍵")
print("Suger Spones:", suger, "🍬")

Size: Large 🤪
Type Coffee: Khawa Chai 🍵
Suger Spones: 2 🍬

In [67]:
# Fitness Stats 🏋️‍♂️
steps_walked, calories_burned, workout_minutes = 8000, 400, 45
print('Steps:', steps_walked, "👣")
print("Calories Burned:", calories_burned, "🔥")
print("Workout:", workout_minutes)

Steps: 8000 👣
Calories Burned: 400 🔥
Workout: 45

In [68]:
# Weather Report ☀️🌧️
temperature_c , humidity_percent, wind_speed_kph = 30, 65, 20
print("Temperature:", temperature_c,"°C 🌡️")
print("Humidity:", humidity_percent ,"% 💧")
print("Wind Speed:", wind_speed_kph,  "km/h 🌬️")

Temperature: 30 °C 🌡️
Humidity: 65 % 💧
Wind Speed: 20 km/h 🌬️

In [69]:
kids, adults, seniors = 12, 50, 7
print("Kids:", kids, "👧🧒" )
print("Adults:", adults, "🧑👩" )
print("Seniors:", seniors,  "👴👵")

Kids: 12 👧🧒
Adults: 50 🧑👩
Seniors: 7 👴👵

In [70]:
# Movie Rating 🎬
story_rating, acting_rating, music_rating = 8.5, 9.0, 7.5
print("Story:", story_rating,"/10 📖")
print("Acting:", acting_rating,"/10 🎭" )
print("Music:", music_rating, "/10 🎵")

Story: 8.5 /10 📖
Acting: 9.0 /10 🎭
Music: 7.5 /10 🎵

In [71]:
followers, flowing, posts = 16400, 20, 14
print("Followers:", followers,  "👥")
print("Flowing:", flowing, "🔄")
print("Posts:", posts,  "📝")

Followers: 16400 👥
Flowing: 20 🔄
Posts: 14 📝

In [72]:
# Traval Plans ✈️
departure_city , arrival_city, flight_duration_hrs = "Karachi", "Dubai", 2.5
print("From:", departure_city,"🏙️" )
print("To:", arrival_city, "🏝️" )
print("Flight Duration:", flight_duration_hrs , "hrs ⏳" )

From: Karachi 🏙️
To: Dubai 🏝️
Flight Duration: 2.5 hrs ⏳

In [73]:
# Exam Score 📄
math_score, physics_score, chemistry_score , urdu_score, islamiyat_score = 93, 74, 88, 99, 97
print("Math:", math_score , "/100 🧮")
print("Physics:", physics_score, "/100 ⚛️")
print("Chemistry:", chemistry_score, "/100 🧪")
print("Urdu:", urdu_score , "/100 " )
print("Islamiyat:", islamiyat_score , "/100 🕌" )

Math: 93 /100 🧮
Physics: 74 /100 ⚛️
Chemistry: 88 /100 🧪
Urdu: 99 /100
Islamiyat: 97 /100 🕌

In [75]:
breakfast, lunch, dinner = "Paratha", "Chikan biryani", "Salad"
print("BREAK FAST:", breakfast,  "🥞")
print("LUNCH:", lunch,  "🍛")
print("DINNER:", dinner, "🥗")

BREAK FAST: Paratha 🥞
LUNCH: Chikan biryani 🍛
DINNER: Salad 🥗

In [76]:
# Trafic Lights Color 🚦
red_light, yellow_light, green_light = "Stop", "Get Ready fucking man", "Let's Go"
print("Red:", red_light , "🛑")
print("Yellow:", yellow_light, "⚠️")
print("Green:", green_light, "✅" )

Red: Stop 🛑
Yellow: Get Ready fucking man ⚠️
Green: Let's Go ✅

In [77]:
# Laptop Speces 💻
ram_gb , storage_gb, processor_ghz = 16, 512, 3.5
print("RAM:", ram_gb, "GB 🧠" )
print("Storage:", storage_gb,  "GB 💾")
print("Processor Speed:", processor_ghz ,  "GHz ⚡")

RAM: 16 GB 🧠
Storage: 512 GB 💾
Processor Speed: 3.5 GHz ⚡

# 5. Using Variable in Expression

In [3]:
# Shopping Discount  🛍️
total_price = 1200
discount = 200
final_price = total_price - discount
print("Total Price: Rs.", total_price ,"🛒" )
print("Discount: Rs.", discount,"💸" )
print("Final Price After Discount:", final_price, "✅" )

Total Price: Rs. 1200 🛒
Discount: Rs. 200 💸
Final Price After Discount: 1000 ✅

In [5]:
# Taxi Fare Calculation 🚕
basic_fare = 100
distance_km = 15
per_km_rate = 20
total_fare = basic_fare + (distance_km * per_km_rate)
print("Basic Fare: Rs.", basic_fare , "🚖" )
print("Distance Fare: Rs", distance_km, "km X Rs", per_km_rate)
print("Total Fare: Rs.", total_fare,"💰" )

Basic Fare: Rs. 100 🚖
Distance Fare: Rs 15 km X Rs 20
Total Fare: Rs. 400 💰

In [6]:
# Salary After Tax 💼
salary = 80000
tax_rate = 0.15
tax_amount = salary * tax_rate
net_salary = salary - tax_amount 
print("Gross Salary: Rs.", salary)
print("Tax Amount (15%) Rs.", tax_amount)
print("Net Salary: Rs.", net_salary , "💵")

Gross Salary: Rs. 80000
Tax Amount (15%) Rs. 12000.0
Net Salary: Rs. 68000.0 💵

In [9]:
# Electricity Bill ⚡
units_consumed = 350
rate_per_unit = 15
bill = units_consumed * rate_per_unit
print("Units Consumed:", units_consumed , "kWh")
print("Rate Per Unit: Rs.", rate_per_unit )
print("Total Bill:", bill, "per month", "⚡")

Units Consumed: 350 kWh
Rate Per Unit: Rs. 15
Total Bill: 5250 per month ⚡

In [10]:
# Exam Score Percentage 📊
marks_obtained = 85
total_marks = 100
percentage = (marks_obtained / total_marks) * 100
print("Marks Obtained:", marks_obtained)
print("Total Marks:", total_marks )
print("Percentage:", percentage , "% 🏆")

Marks Obtained: 85
Total Marks: 100
Percentage: 85.0 % 🏆

In [11]:
# Restaurant Bill with tips 🍽️
bill_amount = 1500
tip_percent = 0.1
tip = bill_amount * tip_percent
total_amount = bill_amount + tip
print("Bill Amount: Rs.", bill_amount)
print("Tip (10%): Rs.", tip)
print("Total to Pay: Rs.", total_amount , "💳")

Bill Amount: Rs. 1500
Tip (10%): Rs. 150.0
Total to Pay: Rs. 1650.0 💳

In [14]:
# Saving Goals 🏦
monthly_income = 50000
monthly_expenses = 35000
monthly_saving = monthly_income - monthly_expenses
yearly_saving = monthly_saving * 12
print("Monthly Income: Rs.", monthly_income)
print("MOnthly Expenses: Rs.", monthly_expenses)
print("Saving:", saving ,  "💰")
print("Yearly Saving: Rs.", yearly_saving)

Monthly Income: Rs. 50000
MOnthly Expenses: Rs. 35000
Saving: 15000 💰
Yearly Saving: Rs. 180000

In [15]:
fuel_price_per_liters = 250
litters_filled_in_car = 40
total_cost = fuel_price_per_liters * litters_filled_in_car
print("Fuel Price Per Liters: Rs.", fuel_price_per_liters)
print("Littes Filled in Car:", litters_filled_in_car , "L")
print("Total Fuel Cost: Rs.", total_cost ,"⛽" )

Fuel Price Per Liters: Rs. 250
Littes Filled in Car: 40 L
Total Fuel Cost: Rs. 10000 ⛽

In [16]:
phone_price = 45000
discount_offer = 5000
final_price = phone_price - discount_offer
print("Phone Price: Rs.", phone_price)
print("Discount: Rs.", discount_offer)
print("Final Price: Rs.", final_price , "✅")

Phone Price: Rs. 45000
Discount: Rs. 5000
Final Price: Rs. 40000 ✅

# Variable with Different data Types

In [18]:
# Percenal Info 👧
name = "Ayesha"  # string (str)
age = 28      # integer (int)
height = 5.9  # float(feet)
is_merried = True  # Boolean
print("Name:", name )
print("Age:", age)
print("Height:", height)
print("Merried:", is_merried)

Name: Ayesha
Age: 28
Height: 5.9
Merried: True

In [19]:
# Prodect Details 🛒
prodect_id = 101       # integer (int)
price = 499.99         # float 
prodect_name = "Headphones"  # string (str)
in_stock = True      # Boolean
print("Prodect ID:", prodect_id)
print("Price:", price)
print("Prodect Name:", prodect_name)
print("In Stock:", in_stock)

Prodect ID: 101
Price: 499.99
Prodect Name: Headphones
In Stock: True

In [1]:
# Bank Account 🏦
account_number = 123456   # integer (int)
balance  = 15000.50    # float
account_holder =  "Sher Khan"  # String (str)
in_active = True          # Boolean
print("Account Number:", account_number)
print("Balance : ", balance )
print("Account Holder:", account_holder)
print("In Active:", in_active)

Account Number: 123456
Balance :  15000.5
Account Holder: Sher Khan
In Active: True

In [4]:
# Weather Report 🌤️
temperature_c = 36 # integer (int)
humidity_percent = 75.5 # float 
condition = "Sunny"   # String (str)
is_rained_expected = False  # Boolean
print("Temperature:", temperature_c, "°C")
print("Humidity:", humidity_percent,"%")
print("Condition:", condition , )
print("Rain Expected:", is_rained_expected)

Temperature: 36 °C
Humidity: 75.5 %
Condition: Sunny
Rain Expected: False

In [5]:
# Event Info 🎉
event_id = 450  # Integer (int)
ticket_price = 1200.5  # Float 
event_name = "Music Concert"   # String (str)
ticket_available = True  # Boolean
print("Event ID:", event_id)
print("ticket_price:", ticket_price)
print("event_name:", event_name)
print("Ticket Availabel:", ticket_available)

Event ID: 450
ticket_price: 1200.5
event_name: Music Concert
Ticket Availabel: True

In [6]:
# Vehicle Info 🚗
vehicle_year = 2024  # integer (int)
engine_capacity = 2.6  # float (litters)
model_name = "Toyota Corrola"  # string (str)
is_insured = True   # Boolean
print("Year:", vehicle_year)
print("Engine Capacity:", engine_capacity, "L")
print("Model:", model_name)
print("Insured:", is_insured)

Year: 2024
Engine Capacity: 2.6 L
Model: Toyota Corrola
Insured: True

In [8]:
# Student Record 🎓
student_roll_number = 154334  #integer (int)
cgpa = 3.75  # float
student_name = "Sara"  # String (str)
passed = True  # Boolean
print("Roll Number:", student_roll_number)
print("CGPA:", cgpa)
print("Student Name:", student_name)
print("Passed:", passed)

Roll Number: 154334
CGPA: 3.75
Student Name: Sara
Passed: True

In [9]:
# Social Media Post 📱
post_id = 985  # integer (int)
likes = 1500.0 # float
caption = "Enjoying the sunset!" # String (str)
is_public = True # Boolean
print("Poat ID:", post_id)
print("Likes:", likes)
print("Caption:", caption)
print("Public Post:", is_public)

Poat ID: 985
Likes: 1500.0
Caption: Enjoying the sunset!
Public Post: True

In [10]:
# Shopping Cart Cart 
items_count = 20  # integer (int)
total_cost = 50500.3  # Float 
cart_owner = "Sher Khan"  # String
is_checked_out = False   # Boolean
print("Items:", items_count)
print("Total Cost:", total_cost)
print("Owner:", cart_owner)
print("Checked Out:", is_checked_out)

Items: 20
Total Cost: 50500.3
Owner: Sher Khan
Checked Out: False

In [11]:
# flight info ✈
fligh_number = 640
distance_km = 1500.5
destination = "Dubai"
on_time = True
print("Flight Number:", fligh_number)
print("Distance:", distance_km)
print("Destination:", destination)
print("On Time:", on_time)

Flight Number: 640
Distance: 1500.5
Destination: Dubai
On Time: True

In [12]:
# Fitness Tracker 🏃‍♂️

In [13]:
daily_steps = 7500 # Integer
calories_burned = 450.75  # float
status_message = "Feeling great!"  # String
goal_achieved = False   # Boolean
print("Steps:", daily_steps)
print("Calories Burned:", calories_burned)
print("Status Message:", status_message)
print("Goal Achieved:", goal_achieved)

Steps: 7500
Calories Burned: 450.75
Status Message: Feeling great!
Goal Achieved: False

In [14]:
# Hotel Booking 🏨
room_number = 101  #integer (int)
room_price = 2500.0 # Float
guest_name = "Maria" # String
checked_in = True   # Boolean
print("Room Number:", room_number)
print("Room Price Per Night🌃: Rs.", room_price )
print("Guest Name:", guest_name, "👩")
print("Checked In:", checked_in)
print("After Maria Situation in One Night: 🤰")

Room Number: 101
Room Price Per Night🌃: Rs. 2500.0
Guest Name: Maria 👩
Checked In: True
After Maria Situation in One Night: 🤰

In [16]:
# Book Store 📚
book_id = 345 # integer (int)
price = 499.9  # float 
title = "The alchemist"  # String (str)
available = True  # Boolean
print("Book ID:", book_id)
print("Price: Rs.", price )
print("Title:", title)
print("Available:", available)

Book ID: 345
Price: Rs. 499.9
Title: The alchemist
Available: True

In [17]:
# Bank Loan 💰
loan_id = 1023  # integer (int)
loan_amount = 5000000.0  # Float
borrower_name = "Imran"   # String
approved = False   # Boolean
print("Loan ID:", loan_id)
print("Loan Amount:", loan_amount)
print("Borrower Name:", borrower_name)
print("Approved:", approved)

Loan ID: 1023
Loan Amount: 5000000.0
Borrower Name: Imran
Approved: False

In [20]:
# Weather Forcast  🌦️
temperature = 29  # Integer (int)
rain_chance  = 75.5  # Float
forecast = "Cloudy"  # String 
umbrella_needed = True  # Boolean
print("Temperature:", temperature, "°C")
print("Rain Chance:", rain_chance, "%")
print("Forecast:", forecast)
print("Umbrella Needed:", umbrella_needed)

Temperature: 29 °C
Rain Chance: 75.5 %
Forecast: Cloudy
Umbrella Needed: True


# 6. Operations with Different Data Types

In [3]:
# 1. Shopping Cart Summary 🛒
num_items = 5  #int
price_per_items = 499.99  # float
total_cost = num_items * price_per_items
message = "Total items Purchased:"
greeting = message +" "+ str(num_items)
print("Total Cost: Rs.", total_cost)
print(greeting)

Total Cost: Rs. 2499.95
Total items Purchased: 5

In [6]:
# 2. Age & Height Info 👤
age = 25 # int
height = 5.7 # float
info = "User age is:"
final_message = info + " " + str(age)+ " "+ "years"
total_measure = age + height
print("Sum of age and height:", total_measure)
print(final_message)

Sum of age and height: 30.7
User age is: 25 years

# Variable Operation

In [2]:
price = 2790

In [4]:
per_discount = 7

In [15]:
total = price - price *.07

In [16]:
print(total)

12.714030000000003

In [9]:
total_marks = 800
obtained_marks = 750
percentage =  obtained_marks / 800 * 100

In [10]:
print(percentage)

93.75

In [11]:
780*.25

195.0

In [12]:
3993 *.10

399.3

In [17]:
val1 = 500
print(val1)

500

In [18]:
val2 = val1 * 3
print(val2)

1500

# Primitive Data Types: String , Integer, Float, Bool

# str(String)

In [21]:
courses = "Artificial Intelligence and Data Science"

In [22]:
print(type(courses))

<class 'str'>

In [23]:
courses.capitalize()

'Artificial intelligence and data science'

In [24]:
courses.casefold()

'artificial intelligence and data science'

In [28]:
courses

'Artificial Intelligence and Data Science'

In [29]:
courses.upper()

'ARTIFICIAL INTELLIGENCE AND DATA SCIENCE'

In [30]:
courses

'Artificial Intelligence and Data Science'

In [31]:
capitalize_var = courses.upper()
print(capitalize_var)

ARTIFICIAL INTELLIGENCE AND DATA SCIENCE

In [32]:
capitalize_var

'ARTIFICIAL INTELLIGENCE AND DATA SCIENCE'

In [33]:
courses

'Artificial Intelligence and Data Science'

In [34]:
courses.count("i")

5

In [35]:
courses.count("and")

1

In [36]:
courses.count("ta")

1

In [37]:
student_name = input("Enter Your Name:")
father_name = input("Enter Your Father Name:")
student_id = input("Enter Your Student ID:")
course = input("Enter your course name:")
age = int(input("Enter your age:"))
Institute_name = input("Enter your Institute name:")

print(f"""
                 Student Identity Card 
           +++++++++++++++++++++++++++++++++++
           Student Name:  {student_name}
           Father Name: {father_name}
           Student ID: {courses}
           Age:   {age}
           Institute Name : {Institute_name}
           """)

Enter Your Name: Noman Khan
Enter Your Father Name: Muhammad Qasim
Enter Your Student ID: 202301
Enter your course name: Artificial Intelligence And Data Science
Enter your age: 20
Enter your Institute name: Zaitoon Ashraf IT Park

                 Student Identity Card
           +++++++++++++++++++++++++++++++++++
           Student Name:  Noman Khan
           Father Name: Muhammad Qasim
           Student ID: Artificial Intelligence and Data Science
           Age:   20
           Institute Name : Zaitoon Ashraf IT Park

# Conditional Statements
  - if-else statement
  - if clause

In [ ]:
a = 12
if a % 2 == 0:
    print("A is Even Number")