# ‚úÖ Python String Complete Roadmap

üîπ Part 1: String Fundamentals

- String Basics

- String Declaration and Initialization

- Multiline Strings

- String Escape Characters

- Raw Strings

## üî∏ 1. String Basics
- String aik text hoti hai jo characters ka collection hoti hai. Python mein string double quotes "" ya single quotes '' mein likhi jati hai.

In [1]:
full_name = "    MUHAMMAD USMAN khan   "
formatted_name = full_name.strip().title()
print(formatted_name)

Muhammad Usman Khan

In [2]:
itinerary = "flight from karachi to istanbul on 23rd september at 9:45 AM via Turkish Airlines."
print(itinerary.upper())

FLIGHT FROM KARACHI TO ISTANBUL ON 23RD SEPTEMBER AT 9:45 AM VIA TURKISH AIRLINES.

In [3]:
review = "The product quality was excellent. Excellent packaging and excellent delivery time. Very satisfied with the excellent experience overall."
print(review.count("excellent"))

3

In [10]:
essay = "I want to study Artificial Intelligence because it combines creativity and logic. I am passionate about problem solving and innovative technology."
print(len(essay.split()))

21

In [11]:
application = """
My name is Sana Khan. I have completed my FSC from Punjab College with 89% marks. 
I want to apply for the BS Computer Science program at XYZ University. 
My interests include artificial intelligence, machine learning, and data analysis. 
I also participated in science exhibitions and coding competitions during college.
"""

# String clean karna
cleaned = application.strip()

# Capital letters mein convert
upper_version = cleaned.upper()

# Total alphabets (characters) count
char_count = len(cleaned)

# Total words
word_count = len(cleaned.split())

# Keyword search
contains_ai = "artificial intelligence" in cleaned.lower()

# Print sab kuch
print("Uppercase Application:\n", upper_version)
print("Total Characters:", char_count)
print("Total Words:", word_count)
print("Artificial Intelligence Mentioned:", contains_ai)

Uppercase Application:
 MY NAME IS SANA KHAN. I HAVE COMPLETED MY FSC FROM PUNJAB COLLEGE WITH 89% MARKS.
I WANT TO APPLY FOR THE BS COMPUTER SCIENCE PROGRAM AT XYZ UNIVERSITY.
MY INTERESTS INCLUDE ARTIFICIAL INTELLIGENCE, MACHINE LEARNING, AND DATA ANALYSIS.
I ALSO PARTICIPATED IN SCIENCE EXHIBITIONS AND CODING COMPETITIONS DURING COLLEGE.
Total Characters: 321
Total Words: 50
Artificial Intelligence Mentioned: True

In [12]:
job_description = """
We are hiring a Senior Python Developer with at least 3 years of experience in Django, Flask, and REST APIs.
The candidate must be able to work with databases like PostgreSQL and should have strong problem-solving skills.
Knowledge of Docker and Git is a plus.
"""

# Lowercase conversion for easy search
text = job_description.lower()

# Important skills list
skills = ["python", "django", "flask", "rest", "postgresql", "docker", "git", "aws"]

# Check kaun kaun si skills present hain
found_skills = []
for skill in skills:
    if skill in text:
        found_skills.append(skill)

# Final output
print("Skills Mentioned in Job Description:", ", ".join(found_skills))

Skills Mentioned in Job Description: python, django, flask, rest, postgresql, docker, git

In [13]:
feedback = """
I recently traveled from Karachi to Islamabad via AirBlue. The flight was clean, on time, and the staff was polite. 
However, the food could be better. Overall, it was a good experience.
"""

# Common feedback keywords
positive_words = ["clean", "on time", "polite", "good", "comfortable"]
negative_words = ["delayed", "rude", "bad", "poor", "late", "food"]

# Lowercase version
feedback_lower = feedback.lower()

# Count positive & negative keywords
positive_count = sum(feedback_lower.count(word) for word in positive_words)
negative_count = sum(feedback_lower.count(word) for word in negative_words)

print("Positive Keywords Found:", positive_count)
print("Negative Keywords Found:", negative_count)

Positive Keywords Found: 4
Negative Keywords Found: 2

In [14]:
form_input = "    MUHAMMAD SAEED    "

# Proper name format
cleaned = form_input.strip().title()

# CNIC formatting example
cnic = "42101-1234567-8"
is_valid_cnic = len(cnic) == 15 and cnic.count("-") == 2

# Email check
email = "muhammad.saeed@domain.com"
is_valid_email = "@" in email and email.endswith(".com")

print("Formatted Name:", cleaned)
print("CNIC Valid:", is_valid_cnic)
print("Email Valid:", is_valid_email)

Formatted Name: Muhammad Saeed
CNIC Valid: True
Email Valid: True

üîÅ Recap of String Methods Used
Method	Kya karta hai
.strip()	Extra spaces hataata hai
.title()	Har lafz ka pehla letter capital karta hai
.upper()	Puri string ko capital mein karta hai
.lower()	Puri string ko chhoti letters mein karta hai
.count()	Word ya phrase kitni baar aaya, yeh batata hai
.split()	String ko words mein divide karta hai
len()	Length ya count return karta hai

In [5]:
email = "   ahmed.khan@Example.Com   "
clean_email = email.strip().lower()
print(clean_email)

ahmed.khan@example.com

In [6]:
# 1. Simple string
text = "Hello, world!"
print(text)

Hello, world!

In [7]:
# 2. String with single quotes
name = 'Ali'
print(name)

Ali

In [8]:
# 3. Concatenation (do strings jorna)
first = "Good"
second = "Morning"
print(first + " " + second)

Good Morning

In [9]:

# 4. String with number (as string)
num = "12345"
print(num)

12345

In [6]:

# 5. String length check karna
msg = "Python"
print(len(msg))  # Output: 6

6

## üî∏ 2. String Declaration and Initialization
- Jab aap ek string banate ho, usay declare karte hain aur initialize karte hain yani usay koi value dete hain.

In [8]:
# 1. Declare aur initialize
greeting = "Assalamualaikum"
print(greeting)

Assalamualaikum

In [9]:
# 2. Empty string
empty = ""
print(empty)

In [10]:
# 3. Variable se string assign karna
msg = "Welcome to Python"
print(msg)

Welcome to Python

In [11]:
# 4. String ko badalna (new value assign)
msg = "New Message"
print(msg)

New Message

In [12]:
# 5. Multiple strings declare
a, b = "Hello", "World"
print(a + " " + b)

Hello World

## üî∏ 3. Multiline Strings

- Agar aapko ek string mein multiple lines likhni hoon to triple quotes ''' ya """ ka use karte hain.

In [15]:
# 1. Multiline using triple quotes
para = """Yeh aik 
multiline 
string hai."""
print(para)

Yeh aik
multiline
string hai.

In [16]:
# 2. Dusra example
msg = '''Hello,
This is ChatGPT.
How can I help you?'''
print(msg)

Hello,
This is ChatGPT.
How can I help you?

In [17]:
# 3. Line breaks automatically ho jaate hain
multiline = """Line1
Line2
Line3"""
print(multiline)

Line1
Line2
Line3

In [18]:
# 4. String ke andar formatting
details = """Name: Ali
Age: 22
City: Lahore"""
print(details)

Name: Ali
Age: 22
City: Lahore

In [19]:
# 5. Multiline with quotes inside
quote = '''He said, "Python is easy."'''
print(quote)

He said, "Python is easy."

## üî∏ 4. String Escape Characters

- Escape characters special characters hote hain jo string mein special kaam karte hain, jaise new line \n, tab \t, quote \", etc.

In [21]:
# 1. New line
msg = "Hello\nWorld"
print(msg)

Hello
World

In [22]:
# 2. Tab space
msg = "Name:\tAli"
print(msg)

Name:	Ali

In [23]:
# 3. Double quotes inside string
msg = "He said, \"I love Python.\""
print(msg)

He said, "I love Python."

In [24]:
# 4. Single quote
msg = 'It\'s a sunny day'
print(msg)

It's a sunny day

In [25]:

# 5. Backslash
path = "C:\\Users\\Ali"
print(path)

C:\Users\Ali

## üî∏ 5. Raw Strings
- Raw strings mein escape characters ko ignore kiya jata hai. Inko banane ke liye string se pehle r lagate hain.

In [27]:
# 1. Raw string
path = r"C:\Users\Ali"
print(path)  # Backslash show hoga

C:\Users\Ali

In [28]:
# 2. Normal vs Raw
normal = "C:\newfolder"
raw = r"C:\newfolder"
print(normal)  # \n ko new line samjhega
print(raw)     # Raw mein wahi print hoga

C:
ewfolder
C:\newfolder

In [29]:
# 3. Regex ke sath use
regex = r"\d+"
print(regex)

\d+

In [30]:
# 4. Backslash ke sath text
raw_text = r"This is a raw\nstring"
print(raw_text)

This is a raw\nstring

In [31]:
# 5. File paths ke liye useful
file_path = r"D:\Documents\Python\my_script.py"
print(file_path)

D:\Documents\Python\my_script.py

# üîπ Part 2: String Indexing and Slicing

- String Indexing

- String Slicing

- String Immutability

## üî∏ 1. String Indexing

- Indexing ka matlab hai ke string ke kisi specific character tak uski position ke zariye pohanchna. Python mein indexing 0 se start hoti hai, aur negative indexing -1 se (pichlay se).

In [34]:
# Example 1: First character print karna
text = "Python"
print("Example 1:", text[0])  # Output: P

Example 1: P

In [35]:
# Example 2: Last character using positive index
text = "Python"
print("Example 2:", text[5])  # Output: n

Example 2: n

In [36]:
# Example 3: Last character using negative index
text = "Python"
print("Example 3:", text[-1])  # Output: n

Example 3: n

In [37]:
# Example 4: Second last character
text = "Python"
print("Example 4:", text[-2])  # Output: o

Example 4: o

In [38]:
# Example 5: Third character
text = "Python"
print("Example 5:", text[2])  # Output: t

Example 5: t

In [39]:
# Example 6: Index out of range error (commented to avoid error)
text = "Python"
# print("Example 6:", text[10])  # IndexError: string index out of range
print("Example 6: Error hoti hai agar index range se bahar ho.")

Example 6: Error hoti hai agar index range se bahar ho.

In [40]:
# Example 7: Length ke zariye last character lena
text = "Python"
print("Example 7:", text[len(text)-1])  # Output: n

Example 7: n

In [41]:
# Example 8: Indexing user input ke zariye
text = "Python"
index = 3
print("Example 8: Index", index, "ka character hai:", text[index])  # Output: h

Example 8: Index 3 ka character hai: h

## üî∏ 2. String Slicing

- Slicing ka matlab hai ke string ka kuch hissa (substring) lena. Format hota hai:

- string[start:end]  # end wala index include nahi hota

In [44]:
# Example 1: Index 0 se 5 tak ka slice lena
text = "Programming"
print("Example 1:", text[0:5])  # Output: Progr

Example 1: Progr

In [45]:
# Example 2: Start se 5 tak (start default 0 hota hai)
text = "Programming"
print("Example 2:", text[:5])  # Output: Progr

Example 2: Progr

In [46]:
# Example 3: Index 5 se end tak (end default hota hai)
text = "Programming"
print("Example 3:", text[5:])  # Output: amming

Example 3: amming

In [47]:
# Example 4: Pura string slice karna
text = "Programming"
print("Example 4:", text[:])  # Output: Programming

Example 4: Programming

In [48]:
# Example 5: Negative slicing (end se pehle tak)
text = "Programming"
print("Example 5:", text[-7:-1])  # Output: ammin

Example 5: rammin

In [49]:
# Example 6: Slice with step value (har 2nd character)
text = "Programming"
print("Example 6:", text[0:10:2])  # Output: Pormr

Example 6: Pormi

In [50]:
# Example 7: String ko reverse karna
text = "Programming"
print("Example 7:", text[::-1])  # Output: gnimmargorP

Example 7: gnimmargorP

In [51]:
# Example 8: Last 4 characters slice karna
text = "Programming"
print("Example 8:", text[-4:])  # Output: ming

Example 8: ming

## üî∏ 3. String Immutability

- Python mein strings immutable hoti hain ‚Äî iska matlab yeh ke aap kisi character ko directly change nahi kar sakte. Agar aapko change karna ho to nayi string banani padti hai.

In [53]:
# Example 1: Ek simple string print karna
name = "Ali"
print("Example 1:", name)  # Output: Ali

Example 1: Ali

In [54]:
# Example 2: Character change karna (error hota hai, is liye comment)
name = "Ali"
# name[0] = 'B'  # TypeError: 'str' object does not support item assignment
print("Example 2: Direct character change allowed nahi hai.")

Example 2: Direct character change allowed nahi hai.

In [55]:
# Example 3: Character change karne ke liye new string banana
name = "Ali"
new_name = "B" + name[1:]
print("Example 3:", new_name)  # Output: Bli

Example 3: Bli

In [56]:
# Example 4: String replace function ka use
text = "Hello"
new_text = text.replace("H", "J")
print("Example 4:", new_text)  # Output: Jello

Example 4: Jello

In [57]:
# Example 5: String ko uppercase banana (naya string return hota hai)
text = "hello"
upper_text = text.upper()
print("Example 5:", upper_text)  # Output: HELLO

Example 5: HELLO

In [58]:
# Example 6: Concatenate karke naya string banana
s = "Good"
s = s + " Morning"
print("Example 6:", s)  # Output: Good Morning

Example 6: Good Morning

In [59]:
# Example 7: Slice ke zariye modification karna
s = "World"
new_s = s[:2] + "rldwide"
print("Example 7:", new_s)  # Output: Worldwide

Example 7: Worldwide

In [60]:
# Example 8: Ek string se dusri banana without changing original
a = "Python"
b = a.replace("P", "J")
print("Example 8: Original:", a)  # Output: Python
print("Example 8: Modified:", b)  # Output: Jython

Example 8: Original: Python
Example 8: Modified: Jython

# üîπ Part 3: String Operations

- String Concatenation

- String Repetition

- String Membership Operators (in, not in)

- String Comparison

- String Iteration (Looping through Strings)

## üî∏ 1. String Concatenation

üìå Explanation 
- String concatenation ka matlab hai do ya zyada strings ko jorna. Python mein + operator se strings ko mila sakte hain.

In [63]:
# Example 1: Do simple strings jorna
first = "Hello"
second = "World"
result = first + " " + second
print("Example 1:", result)  # Output: Hello World

Example 1: Hello World

In [64]:
# Example 2: String aur number ko concatenate karna (typecast zaroori hai)
name = "Age: "
age = 25
result = name + str(age)
print("Example 2:", result)  # Output: Age: 25

Example 2: Age: 25

In [65]:

# Example 3: Variables se strings concatenate karna
greeting = "Good"
time = "Evening"
full = greeting + " " + time
print("Example 3:", full)  # Output: Good Evening

Example 3: Good Evening

In [66]:
# Example 4: User input se string jorna
first_name = "Ali"
last_name = "Raza"
full_name = first_name + " " + last_name
print("Example 4:", full_name)  # Output: Ali Raza

Example 4: Ali Raza

In [67]:
# Example 5: Empty string ke sath concatenation
empty = ""
word = "Python"
combined = empty + word
print("Example 5:", combined)  # Output: Python

Example 5: Python

In [68]:
# Example 6: Multiline concatenation
line1 = "This is line 1. "
line2 = "This is line 2."
combined = line1 + line2
print("Example 6:", combined)

Example 6: This is line 1. This is line 2.

In [69]:
# Example 7: Concatenation in print statement
print("Example 7:", "Hello" + " " + "World!")  # Output: Hello World!

Example 7: Hello World!

In [70]:
# Example 8: Concatenate multiple strings
s1 = "Python"
s2 = " is"
s3 = " awesome!"
final = s1 + s2 + s3
print("Example 8:", final)  # Output: Python is awesome!

Example 8: Python is awesome!

## üî∏ 2. String Repetition

üìå Explanation (Roman Urdu):
- Aap kisi string ko repeat kar sakte ho using * operator. Yeh string ko utni martaba repeat karta hai jitni dafa aap chaho.

In [72]:
# Example 1: Ek word 3 dafa repeat
word = "Hi "
result = word * 3
print("Example 1:", result)  # Output: Hi Hi Hi

Example 1: Hi Hi Hi

In [73]:
# Example 2: 0 times repeat (empty string return hoti hai)
text = "Hello"
result = text * 0
print("Example 2:", result)  # Output: (blank)

Example 2:

In [74]:
# Example 3: Repeat string 5 times
stars = "*"
result = stars * 5
print("Example 3:", result)  # Output: *****

Example 3: *****

In [75]:
# Example 4: Repeat string with newline
line = "Python\n"
result = line * 2
print("Example 4:\n" + result)

Example 4:
Python
Python

In [76]:
# Example 5: Repeat and add exclamation
repeat = "Wow! "
print("Example 5:", repeat * 4)  # Output: Wow! Wow! Wow! Wow!

Example 5: Wow! Wow! Wow! Wow!

In [77]:
# Example 6: Repeat using variable
msg = "RepeatMe "
times = 3
result = msg * times
print("Example 6:", result)  # Output: RepeatMe RepeatMe RepeatMe

Example 6: RepeatMe RepeatMe RepeatMe

In [78]:
# Example 7: Repeat pattern
pattern = "-="
print("Example 7:", pattern * 10)  # Output: -=-=-=-=-=...

Example 7: -=-=-=-=-=-=-=-=-=-=

In [79]:
# Example 8: Repeat with emojis
emoji = "üòä "
print("Example 8:", emoji * 5)  # Output: üòä üòä üòä üòä üòä

Example 8: üòä üòä üòä üòä üòä

## üî∏ 3. String Membership Operators (in, not in)

üìå Explanation
- Ye operators check karte hain ke koi substring kisi string ke andar maujood hai ya nahi.

- "ali" in "ali raza" ‚Üí True

- "zain" not in "ali" ‚Üí True

In [81]:
# Example 1: Check word in sentence
sentence = "Python is fun"
print("Example 1:", "Python" in sentence)  # Output: True

Example 1: True

In [82]:
# Example 2: Check word not in sentence
print("Example 2:", "Java" not in sentence)  # Output: True

Example 2: True

In [83]:

# Example 3: Character check
text = "Programming"
print("Example 3:", "g" in text)  # Output: True

Example 3: True

In [84]:
# Example 4: Full word check
text = "I love coding"
print("Example 4:", "love" in text)  # Output: True

Example 4: True

In [85]:
# Example 5: Case-sensitive check
text = "Hello"
print("Example 5:", "hello" in text)  # Output: False (case matters)

Example 5: False

In [86]:
# Example 6: User input check
word = "banana"
if "a" in word:
    print("Example 6: 'a' found in banana")  # Output: found

Example 6: 'a' found in banana

In [87]:
# Example 7: Check with not in
name = "Ali Raza"
print("Example 7:", "zain" not in name)  # Output: True

Example 7: True

In [88]:
# Example 8: Multiple letters check
word = "education"
print("Example 8:", "cat" in word)  # Output: True

Example 8: True

## üî∏ 4. String Comparison

üìå Explanation (Roman Urdu):
- Strings ko aapas mein compare kar sakte hain using ==, !=, <, >, <=, >=.
- Yeh comparison lexicographical order (dictionary order) mein hota hai aur case-sensitive hota hai.

In [91]:
# Example 1: Equality check
a = "apple"
b = "apple"
print("Example 1:", a == b)  # Output: True

Example 1: True

In [92]:
# Example 2: Not equal check
a = "apple"
b = "banana"
print("Example 2:", a != b)  # Output: True

Example 2: True

In [93]:
# Example 3: Less than
print("Example 3:", "apple" < "banana")  # Output: True

Example 3: True

In [94]:
# Example 4: Greater than
print("Example 4:", "zebra" > "apple")  # Output: True

Example 4: True

In [95]:
# Example 5: Case sensitivity
print("Example 5:", "Apple" == "apple")  # Output: False

Example 5: False

In [96]:
# Example 6: Uppercase vs lowercase comparison
print("Example 6:", "A" < "a")  # Output: True

Example 6: True

In [97]:
# Example 7: Compare different lengths
print("Example 7:", "abc" < "abcd")  # Output: True

Example 7: True

In [98]:
# Example 8: Compare user inputs
user1 = "Ali"
user2 = "Ali"
print("Example 8:", user1 == user2)  # Output: True

Example 8: True

## üî∏ 5. String Iteration (Looping through Strings)

üìå Explanation (Roman Urdu):
- Aap loop (for loop) ka use karke har character ko ek string mein se ek ek karke access kar sakte ho.

In [100]:
# Example 1: Har letter print karna
text = "Python"
for char in text:
    print("Example 1:", char)

Example 1: P
Example 1: y
Example 1: t
Example 1: h
Example 1: o
Example 1: n

In [101]:
# Example 2: Characters ke sath index show karna
text = "Code"
for i in range(len(text)):
    print(f"Example 2: Index {i} = {text[i]}")

Example 2: Index 0 = C
Example 2: Index 1 = o
Example 2: Index 2 = d
Example 2: Index 3 = e

In [102]:
# Example 3: Vowels count karna
text = "education"
count = 0
for ch in text:
    if ch in "aeiou":
        count += 1
print("Example 3: Vowels =", count)

Example 3: Vowels = 5

In [103]:
# Example 4: Only print uppercase letters
text = "PyThOn123"
for ch in text:
    if ch.isupper():
        print("Example 4:", ch)

Example 4: P
Example 4: T
Example 4: O

In [104]:
# Example 5: Characters reverse order mein print karna
text = "Python"
for ch in reversed(text):
    print("Example 5:", ch)

Example 5: n
Example 5: o
Example 5: h
Example 5: t
Example 5: y
Example 5: P

In [105]:
# Example 6: Characters ke ASCII codes print karna
text = "ABC"
for ch in text:
    print(f"Example 6: {ch} = {ord(ch)}")

Example 6: A = 65
Example 6: B = 66
Example 6: C = 67

# üîπ Part 4: String Formatting

- String Formatting (% operator)

- str.format() method

- f-Strings (Formatted String Literals)

- Advanced Formatting (Alignment, Padding, Precision)

## 1. String Formatting (% operator)
Explanation (Roman Urdu):

- Ye purana tariqa hai strings ko format karne ka, jisme % symbol ke sath format specifiers use karte hain, jaise %s (string), %d (integer), %f (float).

In [108]:
# Example 1: String format karna
name = "Ali"
print("Example 1: Hello, %s!" % name)  # Output: Hello, Ali!

Example 1: Hello, Ali!

In [109]:
# Example 2: Integer format karna
age = 25
print("Example 2: Age is %d years" % age)  # Output: Age is 25 years

Example 2: Age is 25 years

In [110]:
# Example 3: Float format karna
pi = 3.14159
print("Example 3: Value of pi is %f" % pi)  # Output: Value of pi is 3.141590

Example 3: Value of pi is 3.141590

In [111]:
# Example 4: Float with precision
pi = 3.14159
print("Example 4: Pi to 2 decimals is %.2f" % pi)  # Output: Pi to 2 decimals is 3.14

Example 4: Pi to 2 decimals is 3.14

In [112]:
# Example 5: Multiple variables format karna
name = "Sara"
age = 22
print("Example 5: %s is %d years old" % (name, age))  # Output: Sara is 22 years old

Example 5: Sara is 22 years old

In [113]:
# Example 6: Left padding with zeros (integer)
num = 7
print("Example 6: Number with padding: %04d" % num)  # Output: 0007

Example 6: Number with padding: 0007

## 2. str.format() Method
Explanation (Roman Urdu):

- Ye thoda naya aur flexible tariqa hai string formatting ka, jisme {} braces ke andar placeholders use hote hain, aur .format() method se values pass karte hain.

In [115]:
# Example 1: Simple placeholder
print("Example 1: Hello, {}!".format("Ali"))  # Output: Hello, Ali!

Example 1: Hello, Ali!

In [116]:
# Example 2: Multiple placeholders
print("Example 2: {} is {} years old".format("Sara", 22))  # Output: Sara is 22 years old

Example 2: Sara is 22 years old

In [117]:
# Example 3: Positional arguments
print("Example 3: {1} scored {0} points".format(95, "Ahmed"))  # Output: Ahmed scored 95 points

Example 3: Ahmed scored 95 points

In [118]:
# Example 4: Named arguments
print("Example 4: {name} is {age} years old".format(name="Zain", age=30))  # Output: Zain is 30 years old

Example 4: Zain is 30 years old

In [119]:
# Example 5: Float formatting with precision
print("Example 5: Pi is {:.3f}".format(3.14159))  # Output: Pi is 3.142

Example 5: Pi is 3.142

In [120]:
# Example 6: Padding and alignment
print("Example 6: '{:<10}' '{:>10}' '{:^10}'".format("left", "right", "center"))
# Output: 'left      ' '     right' '  center  '

Example 6: 'left      ' '     right' '  center  '

In [121]:
# Example 7: Reusing same argument
print("Example 7: {0} loves {1}. {0} is happy.".format("Ali", "Python"))
# Output: Ali loves Python. Ali is happy

Example 7: Ali loves Python. Ali is happy.

## 3. f-Strings (Formatted String Literals)
Explanation (Roman Urdu):

- Python 3.6+ mein introduced, f-strings sab se aasaan aur tez tareen tareeka hain variables ko directly {} ke andar likhne ka, aur strings ke andar format karne ka.

In [123]:
# Example 1: Simple variable interpolation
name = "Ali"
print(f"Example 1: Hello, {name}!")  # Output: Hello, Ali!

Example 1: Hello, Ali!

In [124]:
# Example 2: Expressions inside f-string
age = 25
print(f"Example 2: Next year, age will be {age + 1}")  # Output: Next year, age will be 26

Example 2: Next year, age will be 26

In [125]:
# Example 3: Float formatting
pi = 3.14159
print(f"Example 3: Pi rounded is {pi:.2f}")  # Output: Pi rounded is 3.14

Example 3: Pi rounded is 3.14

In [126]:
# Example 4: Calling functions inside f-string
def greet():
    return "Hello"

print(f"Example 4: {greet()}, Ali!")  # Output: Hello, Ali!

Example 4: Hello, Ali!

In [127]:
# Example 5: Expressions with strings
name = "Sara"
print(f"Example 5: {name.upper()} is my friend.")  # Output: SARA is my friend.

Example 5: SARA is my friend.

In [128]:
# Example 6: Padding numbers
num = 7
print(f"Example 6: Number with zeros: {num:04}")  # Output: Number with zeros: 0007

Example 6: Number with zeros: 0007

In [129]:
# Example 7: Date formatting (using variables)
year = 2025
month = 8
day = 15
print(f"Example 7: Date is {year}-{month:02}-{day:02}")  # Output: Date is 2025-08-15

Example 7: Date is 2025-08-15

## 4. Advanced Formatting (Alignment, Padding, Precision)
Explanation (Roman Urdu):

- Aap strings ko align (left, right, center), pad (extra characters add karna), aur precision set kar sakte hain floats ya strings ki.

In [131]:
# Example 1: Left align within 10 spaces
print("Example 1: '{:<10}'".format("left"))  # Output: 'left

Example 1: 'left      '

In [132]:
# Example 2: Right align within 10 spaces
print("Example 2: '{:>10}'".format("right"))  # Output: '     right'

Example 2: '     right'

In [133]:
# Example 3: Center align within 10 spaces
print("Example 3: '{:^10}'".format("center"))  # Output: '  center  '

Example 3: '  center  '

In [134]:
# Example 4: Padding with specific character (zero)
print("Example 4: '{:0>8}'".format(42))  # Output: '00000042'

Example 4: '00000042'

In [135]:
# Example 5: Padding with * character and center alignment
print("Example 5: '{:*^10}'".format("Hi"))  # Output: '****Hi****'

Example 5: '****Hi****'

In [136]:
# Example 6: Float with precision and padding
print("Example 6: '{:10.2f}'".format(3.14159))  # Output: '      3.14'

Example 6: '      3.14'

In [137]:
# Example 7: f-string alignment with padding
name = "Ali"
print(f"Example 7: '{name:*^10}'")  # Output: '***Ali****'

Example 7: '***Ali****'

# üîπ Part 5: String Methods (Built-in Functions)

- Case Conversion: lower(), upper(), title(), capitalize(), swapcase()

- Search & Count: find(), rfind(), index(), count()

- Replace & Split: replace(), split(), rsplit(), partition()

- Join: join()

- Trim: strip(), lstrip(), rstrip()

- Validation: isalpha(), isdigit(), isalnum(), isspace(), isupper(), islower(), etc.

## 1. Case Conversion:

- lower(), upper(), title(), capitalize(), swapcase()

- Ye methods string ke alphabets ki case (small ya capital) ko convert karte hain.

In [140]:
# Example 1: Lowercase mein convert karna
text = "HELLO WORLD"
print("Example 1:", text.lower())  # Output: hello world

Example 1: hello world

In [141]:
text = "hello world"
print("Example 2:", text.upper())  # Output: HELLO WORLD

Example 2: HELLO WORLD

In [142]:

# Example 3: Title case (har word ka pehla letter capital)
text = "hello world from python"
print("Example 3:", text.title())  # Output: Hello World From Python

Example 3: Hello World From Python

In [143]:
# Example 4: Capitalize (sirf pehla letter capital)
text = "hello world"
print("Example 4:", text.capitalize())  # Output: Hello world

Example 4: Hello world

In [144]:
# Example 5: Swapcase (small to capital aur capital to small)
text = "Hello World"
print("Example 5:", text.swapcase())  # Output: hELLO wORLD

Example 5: hELLO wORLD

In [145]:
# Example 6: Mixed case example
text = "PyTHoN"
print("Example 6:", text.lower())   # python
print("Example 6:", text.upper())   # PYTHON

Example 6: python
Example 6: PYTHON

In [146]:
# Example 7: Chain methods
text = "hello world"
print("Example 7:", text.capitalize().swapcase())  # Output: hELLO world

Example 7: hELLO WORLD

In [147]:
# Example 8: Title case with punctuation
text = "hello, world!"
print("Example 8:", text.title())  # Output: Hello, World!

Example 8: Hello, World!

## 2. Search & Count:

- find(), rfind(), index(), count()

Explanation

- Ye methods string mein substring ya character ko dhundne aur count karne ke liye use hotay hain.

- find() pehli occurrence ka index deta hai, nahi mila to -1

- rfind() aakhri occurrence ka index deta hai

- index() bhi find jaisa hai lekin nahi milay to error deta hai

- count() substring kitni baar ayi hai batata hai

In [149]:
# Example 1: find()
text = "hello world"
print("Example 1:", text.find("o"))  # Output: 4

Example 1: 4

In [150]:
# Example 2: find() agar na mile to -1
print("Example 2:", text.find("z"))  # Output: -1

Example 2: -1

In [151]:
# Example 3: rfind()
print("Example 3:", text.rfind("o"))  # Output: 7

Example 3: 7

In [152]:
# Example 4: index() same as find but error if na mile
print("Example 4:", text.index("w"))  # Output: 6

Example 4: 6

In [154]:
# Example 5: index() error agar substring na mile
print(text.index("z"))  # ValueError: substring not found

ValueError: substring not found

In [155]:
# Example 6: count() kitni baar substring ayi
text = "banana"
print("Example 6:", text.count("a"))  # Output: 3

Example 6: 3

In [156]:
# Example 7: count() full substring count
text = "abababa"
print("Example 7:", text.count("aba"))  # Output: 2

Example 7: 2

In [157]:
# Example 8: find() start aur end specify karna
text = "hello hello"
print("Example 8:", text.find("hello", 1))  # Output: 6

Example 8: 6

## 3. Replace & Split:

- replace(), split(), rsplit(), partition()

- replace() kisi substring ko dusri substring se replace karta hai.

- split() string ko parts mein todta hai (default space)

- rsplit() bhi split hai magar right side se todta hai

- partition() string ko 3 parts mein todta hai: pehla hissa, separator, aur baad ka hissa

In [159]:
# Example 1: replace()
text = "I love apples"
print("Example 1:", text.replace("apples", "oranges"))  # Output: I love oranges

Example 1: I love oranges

In [160]:
# Example 2: replace() sirf pehli 2 baar replace karna
text = "apple apple apple"
print("Example 2:", text.replace("apple", "orange", 2))  # Output: orange orange apple

Example 2: orange orange apple

In [161]:
# Example 3: split() by space
text = "Python is fun"
print("Example 3:", text.split())  # Output: ['Python', 'is', 'fun']

Example 3: ['Python', 'is', 'fun']

In [162]:
# Example 4: split() by comma
text = "apple,banana,orange"
print("Example 4:", text.split(','))  # Output: ['apple', 'banana', 'orange']

Example 4: ['apple', 'banana', 'orange']

In [163]:
# Example 5: rsplit() last se split karna, maxsplit=1
text = "one two three four"
print("Example 5:", text.rsplit(' ', 1))  # Output: ['one two three', 'four']

Example 5: ['one two three', 'four']

In [164]:
# Example 6: partition() separator ke basis pe 3 parts
text = "hello world"
print("Example 6:", text.partition(' '))  # Output: ('hello', ' ', 'world')

Example 6: ('hello', ' ', 'world')

In [165]:
# Example 7: partition() jab separator na mile to
text = "helloworld"
print("Example 7:", text.partition(' '))  # Output: ('helloworld', '', '')

Example 7: ('helloworld', '', '')

## 4. Join:

- join()

Explanation (Roman Urdu):

- join() ek iterable (list, tuple) ke elements ko string mein convert karta hai aur unke darmiyan koi separator lagata hai.

In [167]:
# Example 1: List of words join karna space se
words = ["Python", "is", "fun"]
print("Example 1:", " ".join(words))  # Output: Python is fun

Example 1: Python is fun

In [168]:
# Example 2: Join with comma
fruits = ["apple", "banana", "orange"]
print("Example 2:", ",".join(fruits))  # Output: apple,banana,orange

Example 2: apple,banana,orange

In [169]:
# Example 3: Join with dash
numbers = ["1", "2", "3", "4"]
print("Example 3:", "-".join(numbers))  # Output: 1-2-3-4

Example 3: 1-2-3-4

In [170]:
# Example 4: Join empty list
empty = []
print("Example 4:", "|".join(empty))  # Output: (empty string)

Example 4:

In [171]:
# Example 5: Join tuple elements
t = ("a", "b", "c")
print("Example 5:", "_".join(t))  # Output: a_b_c

Example 5: a_b_c

In [172]:
# Example 6: Join characters of a string
s = "hello"
print("Example 6:", "*".join(s))  # Output: h*e*l*l*o

Example 6: h*e*l*l*o

In [173]:
# Example 7: Join with newline separator
lines = ["line1", "line2", "line3"]
print("Example 7:\n" + "\n".join(lines))
# Output:
# line1
# line2
# line3

Example 7:
line1
line2
line3

In [174]:
# Example 8: Join mixed type list (sab strings honi chahiye)
items = ["1", "2", "3"]
print("Example 8:", " & ".join(items))  # Output: 1 & 2 & 3

Example 8: 1 & 2 & 3


## 5. Trim:

- strip(), lstrip(), rstrip()

Explanation (Roman Urdu):

- Ye methods string ke aage, peeche, ya dono taraf se unwanted spaces (ya specified characters) ko hata dete hain.

In [176]:
# Example 1: strip() dono sides se spaces hataana
text = "  hello  "
print("Example 1:", "'" + text.strip() + "'")  # Output: 'hello'

Example 1: 'hello'

In [177]:
# Example 2: lstrip() sirf left side spaces hataata hai
text = "  hello  "
print("Example 2:", "'" + text.lstrip() + "'")  # Output: 'hello  '

Example 2: 'hello  '

In [178]:
# Example 3: rstrip() sirf right side spaces hataata hai
text = "  hello  "
print("Example 3:", "'" + text.rstrip() + "'")  # Output: '  hello'

Example 3: '  hello'

In [179]:
# Example 4: strip() se special characters hataana
text = "---hello---"
print("Example 4:", text.strip("-"))  # Output: hello

Example 4: hello

In [180]:
# Example 5: lstrip() special characters hataana
text = "###hello###"
print("Example 5:", text.lstrip("#"))  # Output: hello###

Example 5: hello###

In [181]:
# Example 6: rstrip() special characters hataana
text = "!!!hello!!!"
print("Example 6:", text.rstrip("!"))  # Output: !!!hello

Example 6: !!!hello

In [182]:
# Example 7: strip() with multiple chars
text = "-=hello=-"
print("Example 7:", text.strip("-="))  # Output: hello

Example 7: hello

In [183]:
# Example 8: strip() on string with spaces and tabs
text = " \t hello \n "
print("Example 8:", "'" + text.strip() + "'")  # Output: 'hello'

Example 8: 'hello'

## 6. Validation:

- isalpha(), isdigit(), isalnum(), isspace(), isupper(), islower(), etc.

Explanation (Roman Urdu):

- Ye methods check karte hain ke string ke characters kis type ke hain: alphabets, digits, spaces, upper ya lower case.

In [185]:
# Example 1: isalpha() sirf alphabets hain?
print("Example 1:", "Hello".isalpha())  # True
print("Example 1:", "Hello123".isalpha())  # False

Example 1: True
Example 1: False

In [186]:
# Example 2: isdigit() sirf digits hain?
print("Example 2:", "12345".isdigit())  # True
print("Example 2:", "123a5".isdigit())  # False

Example 2: True
Example 2: False

In [187]:
# Example 3: isalnum() alphabets ya digits hain?
print("Example 3:", "abc123".isalnum())  # True
print("Example 3:", "abc 123".isalnum())  # False (space hai)

Example 3: True
Example 3: False

In [188]:

# Example 4: isspace() sirf spaces hain?
print("Example 4:", "   \t\n".isspace())  # True
print("Example 4:", " a ".isspace())  # False

Example 4: True
Example 4: False

In [189]:
# Example 5: isupper() sirf uppercase hain?
print("Example 5:", "HELLO".isupper())  # True
print("Example 5:", "Hello".isupper())  # False

Example 5: True
Example 5: False

In [190]:
# Example 6: islower() sirf lowercase hain?
print("Example 6:", "hello".islower())  # True
print("Example 6:", "Hello".islower())  # False

Example 6: True
Example 6: False

In [191]:
# Example 7: Combined check
text = "Python3"
print("Example 7:", text.isalnum())  # True
print("Example 7:", text.isalpha())  # False

Example 7: True
Example 7: False

In [192]:
# Example 8: Empty string check (saare validations False)
empty = ""
print("Example 8:", empty.isalpha())  # False
print("Example 8:", empty.isdigit())  # False

Example 8: False
Example 8: False

## üîπ Part 6: Advanced String Handling

- String Encoding and Decoding

- Unicode Strings

- Strings with Loops and Conditions

- Strings and Regular Expressions (re module)

- Template Strings (from string module)

- String Performance Optimization

- String Practice Problems & Patterns

## 1. String Encoding and Decoding

- Strings ko computer samajhne ke liye bytes mein convert karna encoding kehlata hai, aur wapas string mein lane ko decoding. Python mein mostly utf-8 encoding use hoti hai.

In [195]:
# Example 1: String ko bytes mein encode karna
text = "Hello"
encoded = text.encode('utf-8')
print("Example 1:", encoded)  # Output: b'Hello'

Example 1: b'Hello'

In [196]:
# Example 2: Bytes ko string mein decode karna
bytes_data = b'Hello'
decoded = bytes_data.decode('utf-8')
print("Example 2:", decoded)  # Output: Hello

Example 2: Hello

In [197]:
# Example 3: Encode with different encoding (ascii)
text = "Hello"
encoded = text.encode('ascii')
print("Example 3:", encoded)  # Output: b'Hello'

Example 3: b'Hello'

In [198]:
# Example 4: Unicode string with special chars encode
text = "Py√±thon"
encoded = text.encode('utf-8')
print("Example 4:", encoded)  # Output: b'Py\xc3\xb1thon'

Example 4: b'Py\xc3\xb1thon'

In [199]:
# Example 5: Decode bytes with utf-8
bytes_data = b'Py\xc3\xb1thon'
decoded = bytes_data.decode('utf-8')
print("Example 5:", decoded)  # Output: Py√±thon

Example 5: Py√±thon

In [200]:
# Example 6: Error handling during decode
bytes_data = b'Py\x80thon'
try:
    decoded = bytes_data.decode('utf-8')
except UnicodeDecodeError:
    decoded = "Decode error"
print("Example 6:", decoded)

Example 6: Decode error

In [201]:
# Example 7: Encode with ignoring errors
text = "Py√±thon"
encoded = text.encode('ascii', errors='ignore')
print("Example 7:", encoded)  # Output: b'Python'

Example 7: b'Python'

## 2. Unicode Strings
Explanation (Roman Urdu):

- Python 3 mein har string Unicode hoti hai, jisme duniya ke har character ko support milta hai, jaise Arabic, Chinese, Emojis, etc.

In [203]:
# Example 1: Unicode string with Arabic
text = "ŸÖÿ±ÿ≠ÿ®ÿß"
print("Example 1:", text)  # Output: ŸÖÿ±ÿ≠ÿ®ÿß

Example 1: ŸÖÿ±ÿ≠ÿ®ÿß

In [204]:
# Example 2: Unicode with Chinese characters
text = "‰Ω†Â•Ω"
print("Example 2:", text)  # Output: ‰Ω†Â•Ω

Example 2: ‰Ω†Â•Ω

In [205]:
# Example 3: Using emoji in string
text = "I ‚ù§Ô∏è Python"
print("Example 3:", text)  # Output: I ‚ù§Ô∏è Python

Example 3: I ‚ù§Ô∏è Python

In [206]:
# Example 4: Length of Unicode string
text = "ŸÖÿ±ÿ≠ÿ®ÿß"
print("Example 4:", len(text))  # Output: 5

Example 4: 5

In [208]:
# Example 5: Unicode code point of a character
char = '‚ù§Ô∏è'
print("Example 5:", ord(char))  # Output: Unicode code point

TypeError: ord() expected a character, but string of length 2 found

In [209]:
# Example 6: Creating Unicode character from code point
print("Example 6:", chr(0x2764))  # Output: ‚ù§

Example 6: ‚ù§

In [210]:
# Example 7: Check if character is digit (Unicode)
print("Example 7:", 'Ÿ§'.isdigit())  # Arabic digit 4, Output: True

Example 7: True

## 3. Strings with Loops and Conditions
Explanation (Roman Urdu):

- Strings ke characters par loop chalana aur conditions laga kar alag kaam karna.

In [212]:
# Example 1: Loop through string characters
text = "Python"
for ch in text:
    print("Example 1:", ch)

Example 1: P
Example 1: y
Example 1: t
Example 1: h
Example 1: o
Example 1: n

In [213]:
# Example 2: Count vowels in string
text = "Hello World"
count = 0
for ch in text.lower():
    if ch in 'aeiou':
        count += 1
print("Example 2:", count)

Example 2: 3

In [214]:
# Example 3: Print uppercase characters only
text = "PyThOn"
for ch in text:
    if ch.isupper():
        print("Example 3:", ch)

Example 3: P
Example 3: T
Example 3: O

In [215]:
# Example 4: Replace vowels with '*'
text = "Hello World"
result = ""
for ch in text:
    if ch.lower() in 'aeiou':
        result += '*'
    else:
        result += ch
print("Example 4:", result)

Example 4: H*ll* W*rld

In [216]:
# Example 5: Check if string has digits
text = "Hello123"
has_digit = False
for ch in text:
    if ch.isdigit():
        has_digit = True
        break
print("Example 5:", has_digit)

Example 5: True

In [217]:
# Example 6: Print characters at even indices
text = "Python"
for i in range(len(text)):
    if i % 2 == 0:
        print("Example 6:", text[i])

Example 6: P
Example 6: t
Example 6: o

In [218]:
# Example 7: Count uppercase and lowercase letters
text = "PyThOn"
upper_count = 0
lower_count = 0
for ch in text:
    if ch.isupper():
        upper_count += 1
    elif ch.islower():
        lower_count += 1
print("Example 7: Upper =", upper_count, ", Lower =", lower_count)

Example 7: Upper = 3 , Lower = 3

## 4. Strings and Regular Expressions (re module)
Explanation (Roman Urdu):

- re module regular expressions ke zariye complex string searching aur matching karta hai.

In [220]:
import re

In [221]:
# Example 1: Check if string contains digits
text = "Hello123"
result = re.search(r'\d+', text)
print("Example 1:", bool(result))  # True

Example 1: True

In [222]:
# Example 2: Find all words in string
text = "Python is fun"
words = re.findall(r'\w+', text)
print("Example 2:", words)  # ['Python', 'is', 'fun']

Example 2: ['Python', 'is', 'fun']

In [223]:
# Example 3: Replace all digits with '#'
text = "My number is 12345"
new_text = re.sub(r'\d', '#', text)
print("Example 3:", new_text)  # My number is #####

Example 3: My number is #####

In [224]:

# Example 4: Match string starting with Hello
text = "Hello World"
match = re.match(r'^Hello', text)
print("Example 4:", bool(match))  # True

Example 4: True

In [225]:
# Example 5: Split string by one or more spaces
text = "Hello   World  Python"
parts = re.split(r'\s+', text)
print("Example 5:", parts)  # ['Hello', 'World', 'Python']

Example 5: ['Hello', 'World', 'Python']

## 5. Template Strings (from string module)


- string module ka Template class simple aur safe string substitution ke liye hota hai, jisme $variable likhte hain.

In [227]:
from string import Template

In [228]:
# Example 1: Basic Template
t = Template('Hello, $name!')
print("Example 1:", t.substitute(name='Ali'))

Example 1: Hello, Ali!

In [229]:
# Example 2: Multiple variables
t = Template('$name is $age years old')
print("Example 2:", t.substitute(name='Sara', age=22))

Example 2: Sara is 22 years old

In [230]:
# Example 3: Missing variable with substitute (raises error)
# t.substitute(name='Ali')  # KeyError

In [231]:
# Example 4: Using safe_substitute (missing vars ignored)
t = Template('Hello, $name and $friend')
print("Example 4:", t.safe_substitute(name='Ali'))

Example 4: Hello, Ali and $friend

In [232]:

# Example 5: Variables with underscore
t = Template('$user_name logged in')
print("Example 5:", t.substitute(user_name='admin'))

Example 5: admin logged in

In [233]:
# Example 6: Escaping $ with $$
t = Template('Price is $$5')
print("Example 6:", t.substitute())

Example 6: Price is $5

In [234]:
# Example 7: Template with dictionary
data = {'name': 'Zain', 'age': 30}
t = Template('$name is $age years old')
print("Example 7:", t.substitute(data))

Example 7: Zain is 30 years old

## 6. String Performance Optimization


- Strings immutable hoti hain, is liye frequent concatenation slow ho sakta hai. Efficient tarika hai list mein append kar ke join() karna.

In [236]:
# Example 1: Slow concatenation in loop
result = ""
for i in range(5):
    result += str(i) + " "
print("Example 1:", result)

Example 1: 0 1 2 3 4

In [237]:
# Example 2: Faster concatenation using list and join
result_list = []
for i in range(5):
    result_list.append(str(i))
result = " ".join(result_list)
print("Example 2:", result)

Example 2: 0 1 2 3 4

In [238]:
# Example 3: Using f-string for concatenation
name = "Ali"
age = 25
text = f"My name is {name} and I am {age} years old."
print("Example 3:", text)

Example 3: My name is Ali and I am 25 years old.

In [239]:
# Example 4: Using str.format()
text = "Name: {}, Age: {}".format(name, age)
print("Example 4:", text)

Example 4: Name: Ali, Age: 25

In [240]:
# Example 5: Avoid unnecessary string operations in loops
words = ["hello", "world"]
for i in range(len(words)):
    words[i] = words[i].upper()
print("Example 5:", words)

Example 5: ['HELLO', 'WORLD']

In [241]:
# Example 6: Use join instead of + in large strings
letters = ['a', 'b', 'c', 'd']
result = "".join(letters)
print("Example 6:", result)

Example 6: abcd

In [242]:
# Example 7: Using bytearray for heavy string concatenation (advanced)
ba = bytearray()
for i in range(5):
    ba.extend(f"{i} ".encode())
print("Example 7:", ba.decode())

Example 7: 0 1 2 3 4


## 7. String Practice Problems & Patterns


- Strings par practice karne ke liye kuch common problems aur pattern print karte hain.

In [244]:
# Example 1: Reverse a string
text = "Python"
print("Example 1:", text[::-1])  # nohtyP

Example 1: nohtyP

In [245]:

# Example 2: Check palindrome
text = "madam"
print("Example 2:", text == text[::-1])  # True

Example 2: True

In [246]:
# Example 3: Count vowels
text = "Hello World"
vowels = sum(ch in 'aeiouAEIOU' for ch in text)
print("Example 3:", vowels)

Example 3: 3

In [247]:

# Example 4: Print pattern - pyramid of stars
n = 4
for i in range(1, n+1):
    print("Example 4:", " "*(n-i) + "*"* (2*i-1))

Example 4:    *
Example 4:   ***
Example 4:  *****
Example 4: *******

In [248]:
# Example 5: Remove duplicates from string
text = "banana"
result = ""
for ch in text:
    if ch not in result:
        result += ch
print("Example 5:", result)  # ban

Example 5: ban

In [249]:
# Example 6: Find most frequent character
text = "apple"
freq = {}
for ch in text:
    freq[ch] = freq.get(ch, 0) + 1
most_freq = max(freq, key=freq.get)
print("Example 6:", most_freq)

Example 6: p

In [250]:
# Example 7: Find all substrings starting with 'a'
text = "banana"
substrings = [text[i:j] for i in range(len(text)) for j in range(i+1, len(text)+1) if text[i] == 'a']
print("Example 7:", substrings)

Example 7: ['a', 'an', 'ana', 'anan', 'anana', 'a', 'an', 'ana', 'a']